:root {
  --background-color: #f9f8f2;
  --header-background-color: rgb(234, 233, 226);
  --text-heading-color: rgb(51, 51, 50);
  --primary: #721817;
  --secondary: #285943;
  --tertiary: #aa8c53;
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(35 25 24);
  --article-background-color: #e7e7e1;
  /* https://coolors.co/f04248-285943-f9f8f2-eae9e2-333332 */
}
/* html {
  scroll-snap-type: y mandatory;
} */

body {
  background-color: var(--background-color);
  color: var(--text-heading-color);
  font-family: 'Libre Caslon Text', serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  --polaroid-width: max(300px, 15vw);
  --portrait-width: 900px;
}
h2,
h3 {
  color: var(--primary);
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: 'Libre Caslon Display', serif;
  color: var(--primary);
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 4em;
  margin-top: 0.2em;
  margin-bottom: 0.65em;
  /* margin-bottom: 0em; */
  letter-spacing: -0.02em;
  line-height: 1.05em;
  z-index: 2;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.gallery-container {
  padding: 1em;
  display: flex;
  background-color: white;
  /* margin: 1.5em 0; */
}

.vpis-gallery {
  gap: 1em;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.vpis-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  object-position: 50% 50%;
}
