:root {
  --background-color: #f9f8f2;
  --header-background-color: rgb(234, 233, 226);
  --text-heading-color: rgb(51, 51, 50);
  --primary: #721817;
  --secondary: #285943;
  --tertiary: #aa8c53;
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(35 25 24);
  --article-background-color: #e7e7e1;
  /* https://coolors.co/f04248-285943-f9f8f2-eae9e2-333332 */
}
/* html {
  scroll-snap-type: y mandatory;
} */
html {
  --polaroid-width: max(300px, 15vw);
  --portrait-width: 900px;
  /* body won't work ¯\_(ツ)_/¯ */
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
  overflow-x: clip;
  margin: 0;
  padding: 0;
  /* scroll-padding: calc((100vh - 4rem) / 2 - 1px); */
  @media (width <= 900px) {
    /* scroll-padding: calc((100vh - (var(--polaroid-width) * 1.362 / 2)) - 4em - 1px); */
    scroll-padding-bottom: calc((100vw - (var(--polaroid-width) * 1.12)) / 2);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-heading-color);
  font-family: 'Libre Caslon Text', serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
h2,
h3 {
  color: var(--primary);
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: 'Libre Caslon Display', serif;
  color: var(--primary);
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 4em;
  margin-top: 0.2em;
  margin-bottom: 0em;
  letter-spacing: -0.02em;
  line-height: 1.05em;
  z-index: 2;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.gallery-container {
  padding: 1em;
  display: flex;
  background-color: white;
  /* margin: 1.5em 0; */
}

.vpis-gallery {
  gap: 1em;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.vpis-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  object-position: 50% 50%;
}

.photoMarker {
  width: 6em;
  aspect-ratio: 1 / 1;
  background-position: 50% 50%;
  background-size: cover;
  padding: 0.5em;
  translate: 0em -4em;
  background-color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    object-position: 50% 50%;
    margin: 0;
    padding: 0;
  }
}

.photoMarker::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
